*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#banner{
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh ;
    width: 100%;
    overflow-x: hidden;
    /* background-color: ;
    background-blend-mode: overlay; */
}
.wrapper-container{
    width: 1100px;
    margin: 0 auto;
    height: 100vh;
    padding-top: 50px;
}
nav{
    background-color: rgb(248, 247, 247);
    padding: 15px 0px;
}
.nav-wrap{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrap ul{
     display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.nav-wrap ul li{
    list-style: none;
}
.fa-solid {
  font-weight:600;
  color: #222222;
}
.nav-wrap ul li a{
    text-decoration: none;
    color: #222222;
    font-size: 13px;
    font-weight:600;
    text-transform: uppercase;
}
.nav-wrap ul li a span{
    color: #ffba00;
}
.nav-wrap ul li :hover{
     color: #ffba00; 
 }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

ul li {
  position: relative;
}
.dropdown-menu {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 259%;
  left: 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  min-width: 200px;
  background-color: rgb(248, 247, 247);
    /* min-height: 200px;
padding: 20px; */
color: #ffba00;
}

.dropdown-menu li {
  width: 100%;
  border-bottom: #ebe8e8 1px solid;
  padding: 12px;
}

.dropdown-menu .ahre{
  color:#ffba00;
  text-transform: uppercase;
  font-size: 13px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  visibility: visible;
}
.nike-new{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  /* border: 2px solid red;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  width: 100vw; */
}
/* .nike-new::-webkit-scrollbar{
  display: none;
}
.hero-slide{
  flex:0 0 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
} */
.nike-new .text h1{
    font-size: 50px;
    text-transform: uppercase;
    color: #222222;
  font-family:Arial, Helvetica, sans-serif;
  margin-bottom: 35px;
}
.nike-new .text p{
  color: grey;
  line-height: 25px;
  font-size: 17px;
  font-family:Arial, Helvetica, sans-serif;
}
.add-bag{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top  : 30px;

}
.add-bag i{
  background: linear-gradient(to right, #f7b606, #f78c01);
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.nike-new .add-bag p{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.service{
  width: 100%;
  height: 120vh;
  background-color: white;
}
.service-wrapper{
    width: 1100px;
    margin: 0 auto;
    margin-top: 120px;
}
.our-service{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(253, 252, 252);
  padding: 50px 30px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 2) ;
}
.policy{
  text-align: center;
}
.policy h2{
  padding-top: 16px;
  font-size: 15px;
  color: #222222;
}
.policy p{
  color: grey;
  font-size: 14px;
  padding-top: 5px;
}
.shores{
  margin-top: 90px;
  height: 66vh;
}
.white-shore{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sport-shore{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 159%;
  left: 137px;
  gap: 20px;
}
.nike{
  position: absolute;
  height: 29vh;
  width: 42%;
  left: 94%;
  top: 0%;
}
.sec{
  position: absolute;
  color: white;
  transition: 0.3s ease;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 15px;
  opacity: 0;
  text-align: center;
  height: 98%;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.4);
  width: 42%;
  left: 94%;
  font-weight: bold;
  
}
.arr-two:hover .sec{
  opacity: 1;
}
.black-shore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 170%;
  gap: 20px;
}
.two-leg{
   height: 29vh;
   width: 92%;
}
.over{
  position: absolute;
  color: white;
  transition: 0.3s ease;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  opacity: 0;
  text-align: center;
  height: 98%;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.4);
  width: 88%;
  font-weight: bold;
}
.arr-one:hover .over{
 opacity: 1;
}
.grey{
  position: absolute;
  top: 193%;
  left: 137px;
   height: 29vh;
}
.third{
  position: absolute;
  color: white;
  transition: 0.3s ease;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 15px;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.4);
   top: 193%;
  left: 137px;
   height: 29vh;
   width: 17%;
   font-weight: bold;
}
.arr-three:hover .third{
  opacity: 1;
}
.four{
  position: absolute;
  color: white;
  transition: 0.3s ease;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.4);
  height: 29vh;
   width: 32%;
  top: 193%;
  right: 520px;
  font-weight: bold;
}
.push{
   position: absolute;
  top: 193%;
  right: 520px;
   height: 29vh;
   width: 32%;
}
.arr-fouth:hover .four{
  opacity: 1;
}
.mic{
  position: absolute;
  right: 129px;
  top: 159%;
  overflow: hidden;
}
.mic img{
  transition: 0.3s ease;
}
.overlay{
  position: absolute;
  color: white;
  transition: 0.3s ease;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  opacity: 0;
  text-align: center;
  height: 99.2%;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  font-weight: bold;
}
.mic:hover .overlay{
  opacity: 1;  
}
.product{
  border: 2px solid red;
  height: 100vh;
}
.product-product{
    width: 1100px;
    margin: 0 auto;
    margin-top: 120px;
}
.latest-product{
  text-align: center;
}
.shore-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
